#adaugare1 {
	color: orange;
	font-family: Arial;
	text-align: center;
	padding-top: 10%;
}

#adaugare2 {
	color: white;
	font-family: Arial;
}

#adaugare3 {
	color: orange;
	text-decoration: none;
	padding:5px;
	font-size:20px;
	font-family:Arial;
	border-style:solid;
	border-color:orange;
	border-radius:25px;
}

#adaugare3:hover {
	background-color: orange;
	color: red;
}

h2 {
	padding-top: 5%;
}
