#comenzi1 {
	color: white;
	font-family: Arial;
}

#comenzi2 {
	color: orange;
	text-decoration: none;
	padding:5px;
	font-size:20px;
	font-family:Arial;
	border-style:solid;
	border-color:orange;
	border-radius:25px;
}

#comenzi2:hover {
	background-color:orange;
	color:red;
}

h2 {
	padding-top: 5%;
}

p {
	padding: 1%;
	border-style: dotted;
}

strong {
	color: red;
}
