#cautare1 {
	color: orange;
	font-family: Arial;
	text-align: center;
	padding-top: 20px;
}

#cautare2 {
	color: white;
	font-family: Arial;
}

#cautare3 {
	color: orange;
	text-decoration: none;
	padding:5px;
	font-size:20px;
	font-family:Arial;
	border-style:solid;
	border-color:orange;
	border-radius:25px;
}

#cautare3:hover {
	background-color: orange;
	color: red;
}
