#descriere1 {
	color: white;
	font-family: Arial;
}

#descriere2 {
	color: orange;
	text-decoration: none;
	padding:5px;
	font-size:20px;
	font-family:Arial;
	border-style:solid;
	border-color:orange;
	border-radius:25px;
}

#descriere2:hover {
	background-color:orange;
	color:red;
}
