body {
	background-image: url("./img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

table {
	width: auto;
	height: auto;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

th {
	color: black;
	text-align: center;
	padding: 20px;
	background-color: orange;
	border: 1px solid orange;
}

td {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid orange;
}

tr {
	padding: 10px;
	color:white;
}

tr:hover {
	background-color: red;
}

h1,h2,h3 {
	color: orange;
	text-align: center;
	font-family: Arial;
}

p {
	color: orange;
	font-family: Arial;
	padding-left: 5%;
	padding-top: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: orange;
}

input {
	background-color: orange;
	color: red;
	border-radius: 25px;
	padding: 3px;
	border-color: red;
}

input::placeholder {
	color: white;
}

#timer {
	font-size: 25px;
}
