#produse1 {
	color: white;
	font-family: Arial;
}

#produse2 {
	color: orange;
	text-decoration: none;
	padding:5px;
	font-size:20px;
	font-family:Arial;
	border-style:solid;
	border-color:orange;
	border-radius:25px;
}

#produse2:hover {
	background-color: orange;
	color: red;
}

h2 {
	padding-top: 5%;
}
