body{
	background-color: #6f6f6e;
}

h1,h2{
	color: #46d13e;
}

#message{
	background-color: #e8eaed;
	padding: 1%;
	border: 3px solid #46d13e;
	position: absolute;
	left: 25%;
	box-shadow: 7px 10px 3px grey;
}

#messagealert{
	background-color: #e8eaed;
	padding: 1%;
	border: 3px solid #ff1616;
	position: absolute;
	left: 25%;
	box-shadow: 7px 10px 3px grey;
}

#alert{
	color: #ff1616;
}

.container{
	opacity: 0.9;
	background-color: #d1d1d1;
	position: absolute;
	left: 12%;
	width: 20%;
	border: 3px solid #bababa;
	box-shadow: 7px 10px 3px grey;
}
