body {
	background: url("Photos/background.jpg");
	color: white;
	text-align: center;
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	margin: 15px;
	color: #FFD700;
}
p {
	font-size: 20px;
}
.editor {
	width: 95%;
	height:auto;
}
.tools {
	float: left;
	width: 30%;
	text-align: left;
}
.img {                     
	width: 50%;               /* x% din pagina */
	padding: 10px;
	height: auto;
	border: 5px solid #FFD700;
}
button {                      /*toate butoanele fara choose file*/
	color: black;
	background: #FFD700;
	font-family: sans-serif;
	border-radius: 10%;
	border: 2px solid white;
	padding: 4px;
	margin-top: 2px;
}
input[type="file"] {      /* blocul de choose file */
	color: black;
	background: #FFD700; 
	font-family: sans-serif;
	border-radius: 2%;
	border: 2px solid white;
	padding: 10px;
	margin: 5px;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	margin: 15px;
	color: #FFD700;
}