<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreiolah.heartratemonitor">

        <uses-feature android:name="android.hardware.Camera"/>
        <uses-feature android:name="android.hardware.Camera.flash"/>

        <uses-permission android:name="android.permission.CAMERA"/>
        <uses-permission android:name="android.permission.WAKE_LOCK"/>

        <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:allowBackup="true">
            <activity android:name=".HeartRateMainPage"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:name=".HeartRateMonitor"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <action android:name="android.intent.action.VIEW" />
                </intent-filter>
            </activity>
        </application>


    </manifest>